.gameContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    color: white;
    background-color: rgb(44, 61, 87);
    background-size: cover
}

.boardContainer {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px
}

.buttonContainer {
    display: flex; 
    position: relative; 
    align-items: center; 
    justify-content: center;
    flex-direction: column
}

.newGameButton {
    height: 60px;
    width: 270px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    font-weight: bold;
    cursor: pointer
}

.homeScreenButton {
    font-weight: bold;
    height: 60px;
    width: 270px;
    border-radius: 10px;
    border: none;
    color: black;
    cursor: pointer
}

.scoreboard {
    position: absolute;
    left: 10px;
    top: 10px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px
}

.innerContainer {
    display: flex;
    justify-content: center;
    align-items: center
}

.scoreboardHeader {
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 20px
}

.historyContainer {
    position: absolute; 
    top: 150;
    right: 500;
    display: flex;
    flex-direction: column;
    align-items: center
}