.formStyle {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin: auto;
    margin-top: 50px;
}

.welcomeMainContainer {
    height: 100vh;
    background-size: cover;
}

.welcomeContainer {
    position: relative;
    top: 150px;
    color: rgb(137, 180, 248);
    font-weight: bold;
    overflow: auto
}

.input {
    height: 50px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid rgb(159, 192, 244);
    padding: 30px 15px;
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.header {
    text-align: center;
    font-size: 35px
}

.button {
    width: 100%;
    height: 65px;
    background-color: rgb(159, 192, 244);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer
}

.welcomeLogo {
    height: 100px;
    width: 100px;
    display: block;
    margin: auto;
    margin-bottom: 40px
}